.jumbotron
    h1 MultiVision
    p Your bones don't break, mine do. That's clear.

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
             div(ng-include="'/partials/main/new-courses'")